* {
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
    background-color: rgb(56, 54, 54);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sect {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(gt\,\ bc-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cont {
    height: 40vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cont h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
    /* background-color: blue; */
}

.sub-con p {
    font-size: x-large;
    font-weight: 900;

}

#dot1 {
    margin-bottom: 0.2em;
}

#dot2 {
    margin-bottom: 0.2em;
}

.dots {
    display: inherit;
}

.both {
    visibility: hidden;
}

/* to clo */
.clo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(ugydghf.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clo-img {
    width: 30rem;
    height: 30rem;
    background: url(ana\ \,\ clk.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
}

#n1 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 11rem;
    width: 0.4rem;
    margin-left: 14.8rem;
    margin-top: 4rem;
    transform-origin: bottom;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#n2 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 8rem;
    width: 0.4rem;
    margin-left: 14.8rem;
    margin-top: 7rem;
    transform-origin: bottom;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

#n3 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 6rem;
    width: 0.4rem;
    margin-left: 14.8rem;
    margin-top: 9rem;
    transform-origin: bottom;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(calgt.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.calcu {
    width: 30%;
    height: 45vh;
    background-color: rgb(172, 79, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.input {
    width: 90%;
    background-color: rgb(37, 37, 37);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.input input {
    width: 80%;
    height: 2rem;
    outline: none;
}

.rows {
    display: flex;
    width: 90%;
    height: 2rem;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-evenly;  
    border-radius: 4px;
}
.rows p{
    font-size: larger;
    font-weight:800 ;
    color: orange;
    width: 20%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.rows p:hover{
    cursor:pointer;
}